<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/stylesheets/event.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a2d20e5bcc.js" crossorigin="anonymous"></script>
  <title>Get Link</title>
</head>

<body>
  <form action="/users/profile" method="get" class="home-ctn">
    <button class="home"><i class="fa-solid fa-house"></i></i></button>
  </form>
  <h1 id="url" class="hidden-url"><%=url%></h1>
  <div class="link-ctn-box">
    <h1 class="link-header">How would you like to send your invitation?</h1>
    <div class="copy-text">
      <input readonly="readonly" type="text" class="text" id="linkID" value=<%=event_id%>>
      <button class="copy-button" onclick="copy()">
        <i class="fa-solid fa-clone"></i>
      </button>
    </div>
    <div class="link-ctn">
      <div data-bs-toggle="modal" data-bs-target="#exampleModal" id="mail" class="link-box"><i class="fa-solid fa-envelope"></i><span>Mail Invitation</span></div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal_body">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name" placeholder="emails of attendees, separated by ','">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="delete_event_btn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="delete_event_btn" onclick="send()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script>
    var url = document.getElementById("url").textContent;
    console.log(url)
    let copyText = document.querySelector(".copy-text");
    copyText.querySelector("button").addEventListener("click", function () {
      copyText.classList.add("active")
      setTimeout(function () {
        copyText.classList.remove("active")
      }, 1000)
    })

    let path = url + '/users/invitation-response';
    function serialize(id) {
      let res = "";
      while (id != 0) {
        let remainder = id % 26;
        id = Math.floor(id / 26);
        res = res + String.fromCharCode(remainder + 97);
      }
      console.log(res)
      while (res.length < 6) {
        res = res + 'a';
      }
      return res.split("").reverse().join("");
    }

    window.onload = function () {
      var showID = document.getElementById("meetingID");
      let id = document.getElementById("linkID").value;
      let serializedID = serialize(parseInt(id));

      document.getElementById("linkID").value = path + '/' + serializedID;
    };

    function copy() {
      var input = document.getElementById("linkID");
      input.select();
      document.execCommand("copy");
    }

    const recipient = document.getElementById("recipient-name");
    const msg = document.getElementById("message-text");

    function send() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          alert("Sent!");
        }
      }

      xhttp.open("POST", "/sendEmail", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({subject: "You received an invitation to join a meeting", body: msg.value + "<br>" + "Invitation link: " + document.getElementById("linkID").value, user: recipient.value}));
    }
  </script>
</body>

</html>